@import url("./abstracts/variables.css");
@import url("./base/typo.css");

* {
  line-height: 125%;
}

.wrapper {
  width: 1440px;
  margin: auto;
}

.width-container {
  width: var(--max-width);
  margin: auto;
}

.text {
  font-size: var(--fs-md);
  font-family: var(--ff-primary-regular);
}

.text--bold {
  font-family: var(--ff-primary-bold);
}

.text--gray {
  color: var(--gray);
}

.text--sm {
  font-size: var(--fs-sm);
}

.text--lg {
  font-size: var(--fs-lg);
}

.text--secondary {
  font-family: var(--ff-secondary-bold);
}

.text--title {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.d-flex {
  display: flex;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.divide-content-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header */
.background {
  background-color: var(--primary-color);
}

.container {
  padding: 37px 0px;
  margin: auto;
  color: var(--white);
}

.logo {
  cursor: pointer;
}

.nav__lists {
  list-style: none;
  gap: 30px;
}

.nav__item-link {
  text-decoration: none;
  color: var(--white);
  transition: 0.3s;
}

.nav__item-link:hover {
  color: var(--text-dark);
}

/* Welcome section */
.welcome {
  margin: auto;
  gap: 120px;
  padding-bottom: 82.87px;
}

.welcome__content {
  gap: 15px;
}

.welcome__title {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}

.welcome__heading {
  font-size: var(--fs-lg);
  color: var(--white);
}

.welcome__description {
  color: var(--white);
  margin-bottom: 25px;
}

.btn {
  /* Display & Box Models */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 48px;
  border: none;

  /* Text */
  text-decoration: none;

  /* Other */
  cursor: pointer;
  transition: 0.2s;
}

/* Button */
.btn-primary {
  color: var(--black);
  background-color: var(--white);
}

.btn-primary:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn-secondary {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
}

.btn-secondary:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Pattern Section */
.sponsor__container {
  margin: 60 auto;
  gap: 55px;
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor__content {
  gap: 16px;
  width: 411px;
}

.sponsor__description {
  text-align: center;
}

.sponsor__logos {
  gap: 68px;
}

.sponsor__logo-item {
  transition: 0.3s;
}

.sponsor__logo-item:hover {
  transform: scale(1.2);
}

/* Conversation Section */
.conversation__container {
  margin: 60px auto;
}

.conversation__content {
  width: 470px;
  gap: 16px;
}

/* Security section */
.security__container {
  margin: 60px auto;
}

.security__content {
  width: 470px;
  gap: 16px;
}

/* Team section */

.team__container {
  gap: 45px;
  margin-bottom: 54px;
}

.team__content {
  width: 404px;
  gap: 16px;
}

.team__description {
  text-align: center;
}

.team__image-container {
  gap: 35px;
}

.team__frame {
  width: 270px;
  height: 299px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.team__frame:hover {
  transform: scale(1.2);
}

.team__image-content {
  padding: 20px 40px;
  gap: 18px;
}

.team__image {
  width: 175px;
  height: 175px;
}

.team__information {
  gap: 17px;
  width: 100%;
}

.team__name {
  font-size: 24px;
  text-transform: capitalize;
}

.team__position {
  text-transform: uppercase;
}

/* Footer */
.footer__content {
  padding: 50px 131px;
  width: var(--max-width);
  margin: auto;
}

.footer__logos {
  gap: 20px;
}

.footer__text {
  line-height: 125%;

  color: var(--white);
}