h1, h2 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.credits {
    font-weight: bold;
    word-spacing: 1.5em;
    text-indent: 20px;
}

p {
    text-align: justify;
}

.test {
    vertical-align: text-bottom;
}

.text-indent-20 {
    text-indent: 20px;
}

.text-indent--10 {
    text-indent: -10px;
}