:root {
  --primary-color: #74c69d;
  --text-dark: #d6d6d6;
  --white: #ffffff;
  --black: #000000;
  --gray: rgba(33, 37, 41, 0.50);
  --fs-sm: 15px;
  --fs-md: 20px;
  --fs-lg: 40px;
  --max-width: 1180px;
  --ff-secondary-regular: CrimsonText-Regular;
  --ff-secondary-bold: CrimsonText-Bold;
  --ff-primary-medium: WorkSans-Medium;
  --ff-primary-bold: WorkSans-Bold;
  --ff-primary-regular: WorkSans-Regular;
}
