@font-face {
  font-family: CrimsonText-Regular;
  src: url(../../fonts/CrimsonText-Regular.ttf);
}

@font-face {
  font-family: CrimsonText-Bold;
  src: url(../../fonts/CrimsonText-700.ttf);
  font-weight: 700;
}

@font-face {
  font-family: WorkSans-Medium;
  src: url(../../fonts/WorkSans-500.ttf);
}

@font-face {
  font-family: WorkSans-Bold;
  src: url(../../fonts/WorkSans-700.ttf);
}

@font-face {
  font-family: WorkSans-Regular;
  src: url(../../fonts/WorkSans-Regular.ttf);
}
